.p-container{
  background: linear-gradient(135deg, #e0f2fe 0%, #ddd6fe 100%);
  width: 100%;
  height: 100vh;
  display: flex;
}

.upload-container{
  background: white;
  width: 65%;
  height: 80vh;
  padding: 10%;
  margin: 5% 20%;
}

.drag-drop{
  border: dotted 2px black;
  width: 20%;
  height: 20vh;
}